.author {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #f3f3f3;
  position: relative;
}
.author__con {
  width: 50rem;
  padding-top: 3rem;
  height: 48rem;
  background: white;
  box-shadow: 14px 14px 28px #bebebe, -14px -14px 28px #ffffff;
  /* border-radius: 10rem; */
  border-bottom-right-radius: 15rem;
  border-top-left-radius: 15rem;
}

.author header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.author header img {
    width: 15rem;
}
.author header h1 {
  /* margin-top: 1rem; */
  font-size: 3.5rem;
  color: #FF8C00;
}

.logo__none {
	display: none;
}

.user_altert {
  width: 50rem;
  height: 3rem;
  background-color: red;
  position: absolute;
  top: 3rem;
  right: 50%;
  animation: moveAlter 1s linear;
  transform: translate(50%,-50%);
}


@keyframes moveAlter {
  0% {
    top: -10rem;
  }
}


@media only screen and (max-width: 600px) {
  .author {
    height: 70vh;
  }
}
