.login_con {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
}
.sign__in {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.sign__in input {
  width: 28rem;
  background: white;
  padding: 1rem 2rem;
  border: none;
  margin-bottom: 2rem;
}
.sign__in input::placeholder {
  font-size: 1.6rem;
}
.sign__in .sign__in--btn {
  background: #FF8C00;
  color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 4rem;
  margin-top: 1rem;
}
.create__account {
  position: absolute;
  bottom: -3.5rem;
  
  transform: translateX(-5rem);
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 255, 0.815);
}

.Login_logo {
  width: 20rem;
}
