.avatar-renter {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.avatar__image {
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.item__rent-data {
  width: 65%;
}
