.item__info {
  width: 95%;
  margin: 0 auto 50px auto;
}

.item__info_img {
  box-shadow: 0.5rem 0.5rem 0.8rem #ffffff,
    -0.5rem -0.5rem 2rem hsl(0, 100%, 100%);
}
.item__info_img:hover {
  opacity: 0.9;
  box-shadow: 0.7rem 0.7rem 4rem #2c2c2c3f,
    -0.4rem -0.4rem 2rem hsl(0, 100%, 100%);
}
.item__info-img--main {
  height: 30rem;
  border-radius: .8rem;
}
.item-info-img--subs {
  height: 30rem;
}
.item-info-img--sub {
  height: 15rem;
  margin-bottom: .3rem;
  border-radius: .8rem;
}
.item__info_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid rgba(128, 128, 128, 0.322);
}

.item__info-detail {
  width: 32rem;
}
.item_info-loction {
  margin-left: auto;
}
