.new__item {
  width: 95%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}
.new__item__con {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 4rem auto;
}

.new__item__form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 3rem 0;
  border-radius: 0px;
  box-shadow: 21px 21px 60px #747474, -21px -21px 60px #ffffff;
  border-radius: 3rem;
}
.form__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 35rem;
}

.new__item__input {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 5px 2rem;
  margin-bottom: 1rem;
  border-radius: 10rem;
  border: 2px solid lightgray;
  overflow: hidden;
}

.new__item__input > input {
  display: block;
  border: none;
  margin-left: 1rem;
  width: 90%;
}
.new__item__input > input:focus {
  outline: none;
}
.new__item_textarea {
  border: 1px solid gray;
  padding: 1rem;
  width: 80%;
}
.new__item__input > textarea:focus {
  outline: none;
}

.new__item__input .icon {
  font-size: 3rem;
  opacity: 0.7;
}
.file__upload {
  display: none;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.btn-grad {
  background-color: #ff8c00;
  margin: 10px;
  padding: 1rem 3rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border-radius: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button > button {
  border: none;
}
.images__upload__con {
  flex-wrap: wrap;
  display: flex;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.images__upload {
  width: 12rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.images__upload > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__upload:not(:last-child) {
  margin-right: 2rem;
}
.icons__upload {
  font-size: 5rem !important;
  opacity: 0.7;
}

.upload__display {
  display: flex;
}

.form__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn__add {
  height: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 900px) {
  .new__item__con  {
    width: 90%;
  }
  .new__item__form {
    border-radius: 2.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .new__item__con  {
    width: 95%;
  }
  .new__item__form {
    border-radius: 0rem;
  }
}