.new__item {
  width: 95%;
  margin: 0 auto;
}
.new__item__con {
  display: flex;
  justify-content: center;
  height: 60rem;
  width: 100%;
  margin: 4rem 0;
}
.new__item__left__box {
  background-image: url("https://bit.ly/3AOIOVn");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
}

.new__item__form {
  width: 100%;
  margin-left: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.205);
}
.new__item__right__box > input {
  display: block;
  padding: 2rem 2rem;
  height: 15rem;
}
.new__item__right__box > textarea {
  padding: 1rem;
  width: 80%;
}
.new__item__right__box > textarea:focus {
  outline: none;
}
.new__item__input {
  display: flex;
  border-radius: 10rem;
  border: 2px solid lightgray;

  margin-bottom: 1rem;
  width: 80%;
  overflow: hidden;
}
.new__item__input > input {
  border: none;
  margin-left: 1rem;
  width: 100%;
}
.new__item__input > input:focus {
  outline: none;
}

.new__item__input .icon {
  font-size: 3rem;
  opacity: 0.7;
}
.file__upload {
  display: none;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border-radius: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.button {
  display: flex;
  justify-content: flex-end;
}

.button > button {
  border: none;
}
.images__upload__con {
  flex-wrap: wrap;
  display: flex;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.images__upload {
  width: 12rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.images__upload > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__upload:not(:last-child) {
  margin-right: 2rem;
}
.icons__upload {
  font-size: 5rem !important;
  opacity: 0.7;
}

.upload__display {
  display: flex;
}

.form__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 30rem;
}

.form__top > input {
  border: none;
  margin-left: 1rem;
  width: 100%;
}
.form__top > input:focus {
  outline: none;
}
.form__top > textarea {
  padding: 1rem;
  width: 80%;
}

.form__top > textarea:focus {
  outline: none;
}

.form__middle {
  width: 90%;
  padding: 1rem;
  overflow-y: scroll;
}
.form__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn__add {
  height: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}