html {
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem !important;
}
.main__box {
  width: 95%;
  margin: 0 auto 50px auto;
}
.main__section{
  min-height: 100vh;
}
.primary-heading {
  font-size: 3rem;
}

.thrid-heading {
    font-size: 1.4rem;
}

/* //React router  */
a {
  color: black !important;
}

@media only screen and (max-width: 606px) {
  html{
    font-size: 50%;
  }
}

a.link {
  text-decoration: none;
}
a.link:focus{
  color: black !important;
}