html {
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-heading {
  font-size: 3rem;
}

.thrid-heading {
    font-size: 1.4rem;
}

/* //React router  */
a {
  color: black !important;
}

@media only screen and (max-width: 606px) {
  html{
    font-size: 100%;
  }
}

a.link {
  text-decoration: none;
}
a.link:focus{
  color: black !important;
}